body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: grey;
    color: royalblue;
    padding: 20px;
    text-align: center;
}

/* General Text Styles */
p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
    color: black;
}

/* Specific Styles for Each Text */
.intro-text {
    color: black;
    font-weight: bold;
    text-align: center;
}

.secondary-text {
    color: black;
    text-align: center;
}

.highlighted-text {
    color: black;
    font-weight: bold;
    text-align: center;
}

.call-to-action {
    color: black;
    font-style: italic;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.car-category {
    margin: 20px;
    padding: 20px;
    background-color: ;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.car-card {
    width: 250px;
    height: auto;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: green;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 15px;
}

.car-card img {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

.car-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

button {
    background-color: crimson;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

button:hover {
    background-color: blueviolet;
}

.car-card:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.car-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.car-card img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    display: block;
}

.car-card h3 {
    margin-top: 0px;
    font-size: 1.2em;
    background-color: red;
    color: black;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

/* Footer Styles */
footer {
    background-color: grey;
    padding: 20px;
    text-align: center;
}

.social-icons a img {
    width: 30px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-icons a img:hover {
    transform: scale(1.2);
}
